//Media query
$min-medium: 768px;
$min-large: 992px;
$min-huge: 1200px;

//Color scheme
$color-wine-1: #960034;
$color-wine-2: #c2473e;
$color-wine-3: #ec4c51;
$color-pink: #f6eeee;
$color-pink-2: #EB7676;
$color-black: #666666;
$color-purple-1: #60415f;
$color-purple-2: #81607f;
$color-white-gray: #f3f4f6;
$color-gray-light: #e9eaec;

//Font size
$fs-small: 14px;
$fs-medium: 16px;
$fs-x-medium: 20px;
$fs-large: 30px;
$fs-x-large: 35px;
$fs-xx-large: 40px;

