.magazine-main {
    background-color: $color-pink;
    font-family: $ff-oswald;
    color: $color-black;
    padding-bottom: 30px;

    &__news {
        margin-top: 10px;
        padding: 0 20px;
    }

    &__news--title {
        font-size: $fs-x-medium;
    }

    &__image {
        margin-top: 10px;
    }

    &__news--box {
        text-align: center;
    }

    &__image--news1 {
        background-image:url(https://picsum.photos/200/300?random=1);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__image--news2 {
        background-image: url(https://picsum.photos/200/300?random=2);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__image--news3 {
        background-image: url(https://picsum.photos/200/300?random=3);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__image--news4 {
        background-image: url(https://picsum.photos/200/300?random=4);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__image--news5 {
        background-image: url(https://picsum.photos/200/300?random=5);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    &__image--news6 {
        background-image: url(https://picsum.photos/200/300?random=6);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    &__image--paragraph {
        padding: 10px;
        font-size: $fs-small;
    }
}

@include large-view {

    .magazine-main{
        padding-top: 30px;

        &__news--title {
            font-size: $fs-large;
        }

        &__image--news1,
        &__image--news2,
        &__image--news3,
        &__image--news4,
        &__image--news5,
        &__image--news6 {
            height: 450px;
        }

        &__image--paragraph {
            font-size: $fs-xx-medium;
        }
    }
}
 